/GerSumoner.py
/public/summoner/__pycache__
/public/__pycache__
/bash.exe.stackdump
/.vscode/launch.json
/public/packages/api/summoner/__pycache__
/public/packages/api/match/__pycache__
/public/packages/api/__pycache__
